@import "variables";

footer {
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 1px solid $sf_border;
    padding: 4rem 1.5rem;
}

.scroll-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        transform: rotate(-90deg);
    }
}

.scroll-button::before {
    content: "Return To Top";
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
}

.footer__left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $sf-border;
    padding-right: 40px;
    width: min-content;

    img {
        width: 2rem;
        margin: 0 0.5rem 0.25rem 0;
    }

    .logo {
        width: max-content;
        margin: 0;
        margin-bottom: 1rem;
        line-height: 1;
        letter-spacing: -0.1rem;
        font-family: "Big Shoulders", sans-serif;
        font-size: 4rem;
        font-weight: 900;
        color: #ff1d46;
    }
}

.footer__right {
    display: flex;
    padding-left: 40px;

    button {
        display: none;
    }

    &__section {
        margin-right: 40px;
        height: 100%;

        h4 {
            font-size: 16px;
            font-weight: 700;
        }

        a {
            display: block;
            margin-top: 1.5rem;
            font-weight: 400;
        }
    }

    &__section:last-child {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    footer {
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .scroll-button::before {
        content: "Top";
    }

    .footer__left {
        border: none;
        width: auto;
    }

    .footer__right {
        flex-direction: column;
        padding: 0;

        h4 {
            font-size: 1.25rem;
            padding: 1rem 0;
        }

        &__section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $sf-border;
            margin: 0;

            button {
                display: block;
                background-color: transparent;
                padding: 1rem;
                cursor: pointer;

                img {
                    transform: rotate(90deg);
                    width: 1rem;
                    height: 1rem;
                }
            }

            a {
                display: none;
            }
        }
    }
}