.medium-news {
    display: flex;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &__image-container {
        min-width: 7rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__content {
        padding: 1rem;

        h2 {
            color: rgb(17, 17, 17);
            font-size: 18px;
            margin-bottom: 0.5rem;
        }

        p {
            color: rgb(68, 68, 68);
            margin-bottom: 0.3rem;
        }

        strong {
            color: rgb(118, 118, 118);
            font-weight: 600;
            letter-spacing: 0.5px;
            margin-top: 0.5rem;
            font-size: 14px;
        }
    }
}

@media (max-width: 750px) {
    .medium-news {

        &__content {
            width: 50%;

            h2 {
                font-size: 29px;
            }

            p {
                font-size: 16px;
            }
        }

        &__image-container {
            min-width: none;
            width: 50%;
        }
    }
}

@media (max-width:450px) {
    .medium-news {
        flex-direction: column-reverse;
        margin-top: 1.5rem;
        margin: 1.5rem 1rem 0 1rem;

        &__content {
            width: 100%;
            padding: 0;
            margin-top: 1rem;

            h2 {
                font-size: 18px;
            }
        }

        &__image-container {
            width: 100%;
        }
    }
}