.small-news-sidebar {
  height: -moz-min-content;
  height: min-content;
}

.small-news-sidebar > .small-news:first-child {
  margin-top: 0;
}

.small-news-sidebar > .small-news:last-child {
  border-bottom: none;
}