@import 'variables';

.small-news {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid $sf_border;

    &__container {
        margin: 0 1.5rem 0 0;
    }

    .category {
        font-family: "Big Shoulders", sans-serif;
        cursor: pointer;
        font-weight: 900;
        font-size: 14px;
        color: $sf_red_title;
    }

    h3 {
        font-size: 17px;
        font-weight: 700;
        margin: 0.3rem 0;
        cursor: pointer;
    }

    h3:hover {
        opacity: 0.7;
        transition: 0.3s;
    }

    img {
        cursor: pointer;
        margin-bottom: auto;
        width: 100%;
    }
}

@media (max-width: 750px) {
    .small-news {
        justify-content: space-between;

        h3 {
            font-size: 23px;
        }

        &__img-container {
            margin-left: 2rem;
            height: 100%;

            img {
                display: block;
                object-fit: contain;
                height: 100%;
            }
        }
    }
}

@media (max-width: 450px) {
    .small-news {
        padding: 0 1rem;

        h3 {
            font-size: 18px;
            margin-bottom: 1rem;
        }
    }
}